<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3"><h1><%= @cocktail.name %></h1>

        <h2><%= @cocktail.name %></h2>

        <p>***</p>

      <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
      <%= link_to "Delete", cocktail_path(@cocktail), method: :destroy, class: "btn btn-primary" %>

    </div>
  </div>
</div>
