// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.card-padding-top-btm {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner {
  height: 100vh;
  color: white;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
